<a href="https://colab.research.google.com/github/huricane85/fpl2020_python/blob/master/Copy_of_FDR_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import scipy
import numpy as np
from numpy import random
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
epl_table = pd.read_csv('/content/drive/My Drive/FPL/Forecasting/Data/EPL_Table.csv', encoding = "ISO-8859-1", engine='python')
soccer_spi = pd.read_csv('/content/drive/My Drive/FPL/Forecasting/Data/soccer-spi/spi_matches.csv', encoding = "ISO-8859-1", engine='python')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
epl_table

    Season  Pos                     Team  Pld  ...  GD  Pts  Promoted  Relegated
0    19_20    1                Liverpool   38  ...  52   99       NaN        NaN
1    19_20    2          Manchester City   38  ...  67   81       NaN        NaN
2    19_20    3        Manchester United   38  ...  30   66       NaN        NaN
3    19_20    4                  Chelsea   38  ...  15   66       NaN        NaN
4    19_20    5           Leicester City   38  ...  26   62       NaN        NaN
..     ...  ...                      ...  ...  ...  ..  ...       ...        ...
195  10_11   16           Wigan Athletic   38  ... -21   42       NaN        NaN
196  10_11   17  Wolverhampton Wanderers   38  ... -20   40       NaN        NaN
197  10_11   18          Birmingham City   38  ... -21   39       NaN          R
198  10_11   19                Blackpool   38  ... -23   39        P3          R
199  10_11   20          West Ham United   38  ... -27   33       NaN          R

[200 rows x 13 columns]

In [ ]:
win_lose_draw = epl_table.groupby(epl_table["Season"]).sum().drop(columns = ["Pos", "Pld", "GF", "Pts", "GD"]).rename(columns={'GA': 'Goals'})

In [ ]:
win_lose_draw["D"] = win_lose_draw["D"].div(2)

In [ ]:
win_lose_draw

          W      D    L  Goals
Season
10_11   269  111.0  269   1063
11_12   287   93.0  287   1066
12_13   272  108.0  272   1063
13_14   302   78.0  302   1052
14_15   287   93.0  287    975
15_16   273  107.0  273   1026
16_17   296   84.0  296   1064
17_18   281   99.0  281   1018
18_19   309   71.0  309   1072
19_20   288   92.0  288   1034

In [ ]:
win_lose_draw["percent_result"] = win_lose_draw.apply(lambda row: row.W/380, axis=1)
win_lose_draw["percent_draw"] = win_lose_draw.apply(lambda row: row.D/380, axis=1)

In [ ]:
win_lose_draw

          W      D    L  Goals  percent_result  percent_draw
Season
10_11   269  111.0  269   1063        0.707895      0.292105
11_12   287   93.0  287   1066        0.755263      0.244737
12_13   272  108.0  272   1063        0.715789      0.284211
13_14   302   78.0  302   1052        0.794737      0.205263
14_15   287   93.0  287    975        0.755263      0.244737
15_16   273  107.0  273   1026        0.718421      0.281579
16_17   296   84.0  296   1064        0.778947      0.221053
17_18   281   99.0  281   1018        0.739474      0.260526
18_19   309   71.0  309   1072        0.813158      0.186842
19_20   288   92.0  288   1034        0.757895      0.242105

In [ ]:
average_chance_of_draw = win_lose_draw["percent_draw"].mean()
average_chance_of_a_result = 1 - average_chance_of_draw

In [ ]:
average_chance_of_draw

0.24631578947368418

In [ ]:
average_chance_of_a_result

0.7536842105263158

In [ ]:
epl_filter = soccer_spi["league"] == "Barclays Premier League"

In [ ]:
soccer_spi_epl = soccer_spi[epl_filter]

In [ ]:
home_xG = soccer_spi_epl.groupby(["team1", "season"]).mean().reset_index()
home_xG.drop(home_xG.columns.difference(["team1", "season", "score1", "score2", "xg1", "xg2", "nsxg1", "nsxg2"]), 1, inplace=True)
home_xG = home_xG.rename(columns={'team1': 'home_team', 'score1': 'G_home', 'score2': 'Gc_home', 'xg1': 'xG_home', 'xg2': 'xGc_home', 'nsxg1': 'non_shot_xG_home', 'nsxg2': 'non_shot_xGc_home'})

In [ ]:
away_xG = soccer_spi_epl.groupby(["team2", "season"]).mean().reset_index()
away_xG.drop(away_xG.columns.difference(["team2", "season", "score1", "score2", "xg1", "xg2", "nsxg1", "nsxg2"]), 1, inplace=True)
away_xG = away_xG.rename(columns={'team2': 'away_team', 'score2': 'G_away', 'score1': 'Gc_away', 'xg2': 'xG_away', 'xg1': 'xGc_away', 'nsxg1': 'non_shot_xG_away', 'nsxg2': 'non_shot_xGc_away'})

In [ ]:
home_xG["home_index"] = home_xG["home_team"] + " " + home_xG["season"].astype(str)

In [ ]:
away_xG = away_xG[['away_team', 'season', 'G_away', 'Gc_away', 'xG_away', 'xGc_away', 'non_shot_xG_away', 'non_shot_xGc_away']]
away_xG["away_index"] = away_xG["away_team"] + " " + away_xG["season"].astype(str)

In [ ]:
home_xG_1 = home_xG
away_xG_1 = away_xG

In [ ]:
team_stats = home_xG.merge(away_xG, left_on='home_index', right_on='away_index', how='inner')

In [ ]:
team_stats = team_stats.drop(columns = ["home_index", "away_team", "season_y", "away_index"]).rename(columns={'GA': 'Goals'}).rename(columns={'home_team': 'team', 'season_x': 'season'})

In [ ]:
s16_17_filter = home_xG["season"] == 2016
s17_18_filter = home_xG["season"] == 2017
s18_19_filter = home_xG["season"] == 2018
s19_20_filter = home_xG["season"] == 2019
s20_21_filter = home_xG["season"] == 2020

In [ ]:
team_stats_16_17 = team_stats[s16_17_filter]
team_stats_17_18 = team_stats[s17_18_filter]
team_stats_18_19 = team_stats[s18_19_filter]
team_stats_19_20 = team_stats[s19_20_filter]
team_stats_20_21 = team_stats[s20_21_filter]

In [ ]:
avg_team_xG_home = team_stats_19_20["xG_home"].mean()
avg_team_xGc_home = team_stats_19_20["xGc_home"].mean()
avg_team_xG_away = team_stats_19_20["xG_away"].mean()
avg_team_xGc_away = team_stats_19_20["xGc_away"].mean()

In [ ]:
team_stats_19_20['home_attacking_strength'] = team_stats_19_20.apply(lambda row: row.xG_home / avg_team_xG_home, axis = 1) 
team_stats_19_20['away_attacking_strength'] = team_stats_19_20.apply(lambda row: row.xG_away / avg_team_xG_away, axis = 1) 
team_stats_19_20['home_defensive_strength'] = team_stats_19_20.apply(lambda row: row.xGc_home / avg_team_xGc_home, axis = 1) 
team_stats_19_20['away_defensive_strength'] = team_stats_19_20.apply(lambda row: row.xGc_away / avg_team_xGc_away, axis = 1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
team_stats_19_20

                        team  ...  away_defensive_strength
3            AFC Bournemouth  ...                 1.109081
7                    Arsenal  ...                 0.919226
9                Aston Villa  ...                 1.279455
13  Brighton and Hove Albion  ...                 1.052290
18                   Burnley  ...                 0.993517
24                   Chelsea  ...                 0.920877
29            Crystal Palace  ...                 1.216720
34                   Everton  ...                 0.855832
45            Leicester City  ...                 0.859133
50                 Liverpool  ...                 0.769654
55           Manchester City  ...                 0.749843
60         Manchester United  ...                 0.736636
65                 Newcastle  ...                 1.219692
67              Norwich City  ...                 1.186013
68          Sheffield United  ...                 1.128562
73               Southampton  ...                 0.957748
83         Tottenham Hotspur  ...                 1.062856
88                   Watford  ...                 1.049648
95           West Ham United  ...                 1.257993
98             Wolverhampton  ...                 0.675222

[20 rows x 18 columns]

In [ ]:
def home_team_goal_expectancy(home_team, away_team):
    home_team_filter = team_stats_19_20["team"] == home_team
    home_team_details = team_stats_19_20[home_team_filter]
    home_team_attacking_strength = home_team_details.iat[0,14]
    
    away_team_filter = team_stats_19_20["team"] == away_team
    away_team_details = team_stats_19_20[away_team_filter]
    away_team_defensive_strength = away_team_details.iat[0,17]
    
    home_team_goal_expectancy = home_team_attacking_strength * away_team_defensive_strength * avg_team_xG_home 
    return home_team_goal_expectancy

In [ ]:
def away_team_goal_expectancy(home_team, away_team):
    away_team_filter = team_stats_19_20["team"] == away_team
    away_team_details = team_stats_19_20[away_team_filter]
    away_team_attacking_strength = away_team_details.iat[0,15]
    
    home_team_filter = team_stats_19_20["team"] == home_team
    home_team_details = team_stats_19_20[home_team_filter]
    home_team_defensive_strength = home_team_details.iat[0,16]
    
    away_team_goal_expectancy = away_team_attacking_strength * home_team_defensive_strength * avg_team_xG_away
    return away_team_goal_expectancy

In [ ]:
def poisson(k, lamb):
    return (lamb**k/ scipy.special.factorial(k)) * np.exp(-lamb)

In [ ]:
def odds_calc(home_team, home_score, away_team, away_score):
    home_team_poisson = home_team_goal_expectancy(home_team, away_team)
    away_team_poisson = away_team_goal_expectancy(home_team, away_team)
    home = poisson(home_score, home_team_poisson)
    away = poisson(away_score, away_team_poisson)
    return(home * away)

In [ ]:
# for scorelines up to 8-8

scores = pd.DataFrame(data=[[0, 0],
                        [1, 1],
                        [2, 2], 
                        [3, 3],
                        [4, 4],
                        [5, 5], 
                        [6, 6],
                        [7, 7],
                        [8, 8]], columns=['home_score', 'away_score'])


outlist = [ (i, j)
    for i in scores.home_score
    for j in scores.away_score]

odds_table = pd.DataFrame(data=outlist, columns=['home_score','away_score'])

In [ ]:
# Define Home and Away teams

home_team = "Aston Villa"
away_team = "Liverpool"

In [ ]:
odds_table["odds"] = odds_calc(home_team, odds_table["home_score"], away_team, odds_table["away_score"])

#### Poisson Distribution

In [ ]:
pd.pivot_table(odds_table, values = 'odds', index='away_score', columns = 'home_score').reset_index()

# Unhash to save to csv 
# pd.pivot_table(odds_table, values = 'odds', index='away_score', columns = 'home_score').reset_index().to_csv("AVL_LIV.csv")

home_score  away_score         0  ...             7             8
0                    0  0.027432  ...  7.272782e-06  9.475287e-07
1                    1  0.070055  ...  1.857300e-05  2.419769e-06
2                    2  0.089452  ...  2.371557e-05  3.089764e-06
3                    3  0.076147  ...  2.018803e-05  2.630181e-06
4                    4  0.048615  ...  1.288888e-05  1.679218e-06
5                    5  0.024830  ...  6.583045e-06  8.576668e-07
6                    6  0.010569  ...  2.801929e-06  3.650471e-07
7                    7  0.003856  ...  1.022211e-06  1.331780e-07
8                    8  0.001231  ...  3.263113e-07  4.251320e-08

[9 rows x 10 columns]